<div class="coming-soon-container">
    <div class="content">
      <h1>Coming Soon</h1>
      <p>We're working hard to bring you this feature. Stay tuned!</p>
      <div class="countdown-timer">
        <div class="time-unit">
          <span class="number">{{ days }}</span>
          <br>
          <span class="label">Days</span>
        </div>
        <div class="time-unit">
          <span class="number">{{ hours }}</span>
          <br>
          <span class="label">Hours</span>
        </div>
        <div class="time-unit">
          <span class="number">{{ minutes }}</span>
          <br>
          <span class="label">Minutes</span>
        </div>
        <div class="time-unit">
          <span class="number">{{ seconds }}</span>
          <br>
          <span class="label">Seconds</span>
        </div>
      </div>
    </div>
  </div>
  