<section class="bg-warning padding-y-sm rounded">
    <div class="container">
        <ol class="breadcrumb ondark mb-0">
            <li class="breadcrumb-item">
                <a routerLink="/products">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/products">Product</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{product?.name}}
            </li>
        </ol>
    </div>
</section>

<section class="padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-lg-4">
                <owl-carousel-o [options]="slider1Settings" #myCarousel>
                    <ng-container *ngFor="let slide of product?.images">
                        <ng-template carouselSlide>
                            <figure class="zoom-image" style="background-image: url({{slide}});"
                                [style.backgroundPosition]="backgroundPos" (mousemove)="ZoomImage($event)">
                                <img class="rounded" src="{{slide}}" alt="clothes"
                                    onerror="this.onerror = null;this.src='assets/images/ImageNotFound.png'; imgNotFounded=true">
                            </figure>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                <owl-carousel-o id="controll" [options]="slider2Settings" (dragging)="nextSlide($event)"
                    *ngIf="!imgNotFounded">
                    <ng-container *ngFor="let slide of product?.images">
                        <ng-template carouselSlide>
                            <img class="rounded" width="97" src="{{slide}}" alt="clothes"
                                onerror="this.onerror = null;this.src='assets/images/ImageNotFound.png'">
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </aside>
            <main class="col-lg-6">
                <article class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{product?.name}}
                    </h4>
                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <img src="assets/images/stars-active.svg" alt="">
                            </li>
                            <li>
                                <img src="assets/images/starts-disable.svg" alt="">
                            </li>
                        </ul>
                        <b class="label-rating text-warning"> 4.5</b>
                        <i class="dot"></i>
                        <span class="label-rating text-muted">
                            <i class="fa fa-shopping-basket"></i> {{ product.totalOrdered }} orders
                        </span>
                        <i class="dot"></i>
                        <span class="label-rating" [ngClass]="product.stockStatus ? 'text-success' : 'text-danger'">
                            {{ product.stockStatus ? 'In stock' : 'Out of stock' }}
                        </span>
                    </div>

                    <div class="mb-3">
                        <span class="price h5">${{product?.price}}</span>
                        <span class="text-muted">/per pax</span>
                    </div>
                    <p>
                        {{product?.description || loremText }}
                    </p>
                    <dl class="row">
                        <dt class="col-3">Type:</dt>
                        <dd class="col-9">{{product?.type}}</dd>
                        <dt class="col-3">Color:</dt>
                        <dd class="col-9">{{product?.colour}}</dd>
                        <dt class="col-3">Material:</dt>
                        <dd class="col-9">{{product?.material}}</dd>
                        <dt class="col-3">Brand:</dt>
                        <dd class="col-9">{{product?.brand}}</dd>
                    </dl>
                    <hr>
                    <div class="row mb-4 align-items-center">
                        <div class="col-md-6 col-6 mb-2">
                            <label class="form-label">Size in US</label>
                            <select class="form-select" (change)="onSizeChange($event)">
                                <option value="" disabled selected>Select Size</option>
                                <option *ngFor="let size of product?.sizes" [value]="size.size">{{size.size}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-6 mb-2" *ngIf="selectedSize">
                            <p class="mt-4">Available: {{selectedSize.amount}}</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-warning me-2"
                        (click)="$event.preventDefault(); addProductToCart(product)"
                        [class.disabled]="!product.stockStatus || !selectedSize || selectedSize.amount === 0">
                        <i class="me-1 fa fa-shopping-basket"></i>
                        {{productInCartList ? 'Added to cart' : 'Add to cart'}}
                    </a>
                    <a href="#" *ngIf="product?.model3d" id="inspectModel" class="btn btn-primary me-2"
                        (click)="$event.preventDefault(); openInspectModal()">
                        <i class="fa fa-cube"></i> Inspect
                    </a>
                    <a href="#" *ngIf="product?.model3d" id="virtualTryOn" class="btn btn-info me-2"
                        (click)="$event.preventDefault(); virtualTryOn(product)">
                        <i class="fa fa-eye"></i> Virtual Try-On
                    </a>
                    <a href="#" (click)="$event.preventDefault(); addProductToWishList(product)"
                        *ngIf="!isProductInWishList" class="btn btn-light me-2">
                        <i class="fa-regular fa-heart text-danger"></i>
                        Save
                    </a>
                    <a href="#" (click)="$event.preventDefault(); addProductToWishList(product)"
                        *ngIf="isProductInWishList" class="btn btn-light me-2">
                        <i class="me-1 fa fa-heart text-danger"></i> Saved
                    </a>
                </article>
            </main>
        </div>
        <div class="row my-5 position-relative">
            <div class="title text-md-center mb-2">
                <span>best match</span>
                <h4 class="text-dark">Related products</h4>
            </div>
            <owl-carousel-o [options]="slider3Settings" #myCarousel>
                <ng-container class="col-md-2 col-6" *ngFor="let item of relatedProducts">
                    <ng-template carouselSlide>
                        <app-product [product]="item"></app-product>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>

<div class="modal fade" id="inspectModal" tabindex="-1" aria-labelledby="inspectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inspectModalLabel">3D Model Inspection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <model-viewer [src]="product?.model3dUrl" alt="3D model" ar ar-modes="webxr scene-viewer quick-look"
                    environment-image="neutral" auto-rotate camera-controls
                    style="width: 100%; height: 100%;"></model-viewer>
            </div>
        </div>
    </div>
</div>
